@mixin menu-shadow {
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(238,238,238,0.2) 0%, rgba(255,255,255,0.4) 41%, rgba(255,255,255,0.4) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(238,238,238,0.2) 0%,rgba(255,255,255,0.4) 41%,rgba(255,255,255,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(238,238,238,0.2) 0%,rgba(255,255,255,0.4) 41%,rgba(255,255,255,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

