$accent: rgba(27,188,155,1);
$accent_overlay: rgba(27,188,155,0.7);
$text: rgba(132,135,137,1);
$heading: rgba(51,51,51,1);
$footer: rgba(247,247,247,1);
$dark: rgba(40,47,53,1);

$twitter: rgba(97,195,234,1);
$fb: rgba(83,123,189,1);
$pinterest: rgba(235,87,85,1);
